.container {
    margin: auto;
    padding: 2rem;
    display: flex;
}

.imageGallery {
    width: 60%;
    padding-right: 2rem;
    padding-left: 2rem;
}

.productDetails {
    width: 40%;
    padding: 1rem;
    height: fit-content;
}

.orderSpecificationsContainer {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
}

.cardCaption {
    margin-top: -0.5rem;
    font-family: Jost;
    font-weight: 600;
    color: #676767;
}

.details {
    text-align: left;
}

.title {
    margin: 0.5rem 0;
    font-size: 2rem;
    text-transform: capitalize;
}

.description {
    font-size: 1.1rem;
    color: #828080;

}

.buttonDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.parentChatWithUs {

    height: 4rem;
    z-index: 999999999999;
    display: flex;
    align-items: center;
    font-family: Jost;
    font-weight: 800;
    font-size: 1.2rem;
}

.chatwithus {
    width: 12rem;
    height: auto;
    filter: drop-shadow(-5px 3px 3px rgba(0, 0, 0, 0.7));
    transition: all 0.3s ease;
}

.chatwithus:hover {
    scale: 0.98;
}

@media (width<1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }   

    .imageGallery {
        width: 100%;
        border: none;
        padding: 0;
    }

    .productDetails {
        width: 100%;
        border: none;
        padding: 1rem;
    }

    .orderSpecificationsContainer{
        /* max-width: 600px; */
        padding: 10px;
        border-radius: 0.4rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        
    }

    .title{
        font-size: 1.4rem;
        
    }
}

@media (width<600px) {
    .buttonDiv {
        margin-top: 2.5rem;
    }

    .chatwithus {
        width: 8rem;
        filter: drop-shadow(-5px 3px 3px rgba(0, 0, 0, 0.5));

    }

}

