.container {
  /* background-color: #F1FFFC; */
  background-color: white;
  min-height: 100vh;
  padding: 1.2rem;
  margin: 0;
  padding-bottom: 15rem;

}

/* productprice color update */
.productPrice {
  color: rgb(128, 128, 128);
  /* padding-right:10px ; */
  margin-bottom: 60px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 1200px;
  justify-content: flex-start;
}

.heading {
  margin: 0;
  margin-left: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Krona One', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}


.heading span {
  margin-left: 0.5rem;
  color: #676767;
  font-weight: 400;
  font-size: 1.5rem;
}

.subHeading {
  position: absolute;
  right: 20px;
}

.cartList::-webkit-scrollbar {
  width: 6px;
}

.cartList::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}

.cartList::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* margin-bottom: 40px; */
  /* margin-top: 30px; */
  overflow-y: auto;
}



.freeShippingBanner {
  position: fixed;
  top: 8rem;
  width: 100%;
  left: 0;
  margin-top: 0.6rem;
  background-color: #CBFFCE;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 600;
  border-radius: 0.6rem;
  z-index: 3;
  height: 4rem;
}

@media screen and (min-width: 768px) {
  .freeShippingBanner {
    position: sticky;
    top: 0;
    border-radius: 0;
  }

}


@media (min-width: 768px) {
  .cartList {
    /* 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem; */
    overflow: auto;
    /* margin-bottom: 40px; */
    max-height: 600px;
  }
}

.cartItem {
  color: black;

  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 25px 15px;
  box-shadow: 0 2px 4px 4px #b7fffb2c, 0 2px 1px 1px #a5e4ff18;
  min-height: 110px;
  border-radius: 0.6rem;
}

.priceDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;

}


.priceField {
  min-width: 150px;
  text-align: left;
  font-size: 1.1rem;
  display: flex;
}

.mopBox {
  padding-left: 1.5rem;
  align-items: flex-start;
  padding: 1.5rem;

}

.patch {
  background-color: #fafa7d;
}

.priceDetailRow {
  display: flex;
}

.rupee {
  font-size: 0.7rem;
}
.productImageContainer{
  min-width: 150px;
  display: flex;
}

.productImage {
  height:80px;
  width: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
  /* aspect-ratio: 1.61; */
}

.priceValue {
  font-size: 1.1rem;
  color: gray;

}

.productDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoryName {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
}

.productName {
  flex-grow: 1;
  font-size: 0.8rem;
  color: gray;
}

.leftSection {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem
}


.paymentSplitMainDiv {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}


.paymentSplit {
  display: flex;
  align-items: center;
}

.paymentText {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.amount {
  margin-left: 0.1rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: gray;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  /* background-color: #EEFEFC; */
  background-color: white;
  box-shadow: 0px -5px 5px 3px rgba(0, 0, 0, 0.1);
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.partialCosts {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.totalCost {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}


@media (width < 768px) {
  .rightSection {
    width: 50vw;
  padding-right: 0rem;

    
  }
}

.checkoutButton {
  padding: 10px 20px;
  font-size: 16px;
}

.originalTotal {
  text-decoration: line-through;
  color: gray;
  font-size: 0.8rem;
  margin-left: 0.4rem;
}


@media (width > 768px) {

  .leftSection {
    gap: 2.5rem;
  }

  .originalTotal {
    color: gray;
  }
}