.main {
    display: flex;
    font-family: Jost;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.justContStart {
    justify-content: flex-start;
    gap: 4rem;
}

.extraMargin{
    margin-top: 1.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 0rem;
}

.item img {
    width: 3rem;
    height: auto;
}

.word {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: Jost, sans-serif;
    color: #7A7A7A;
}

/* Media Queries for Responsiveness */
@media (width < 1100px) {
    .item img {
        width: 4rem;   
    }
}

@media (width < 1000px) {
    .justContStart {
        justify-content: space-around;
    }
}

@media (width < 600px) {
    .item img {
        width: 3.5rem;   
    }
    .justContStart {
        gap: 2rem;
    }
}
