.imgContainer {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s ease;

}



.image {
    width: 90%;
    height: auto;
    border-radius: 1rem;
    filter: brightness(110%);
    transition: transform 0.3s ease;
    /* color: #e3f8e3; */
}

.zoomed .image {
    margin: 0;
    height: 90vh;
    width: auto;
    /* This sets the height to 100% of the viewport height */
    object-fit: contain;
}



.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.animatedDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .zoomed .image {
        height: 97vw;
        width: auto;
        scale: 1;
    }


}

/* zoomableimage.module.css */

/* Override Swiper pagination bullets to be black */
:global(.swiper-pagination-bullet) {
    background-color: rgb(129, 129, 129) !important;
    opacity: 0.7 !important; /* Optional: Adjusts the transparency */
  }
  
  /* Override the active Swiper pagination bullet to be fully black */
  :global(.swiper-pagination-bullet-active) {
    background-color: white !important;
    opacity: 1 !important; /* Ensures the active bullet is fully opaque */
  }
  