.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    /* margin-bottom: 3rem; */

}

.main{
    font-family: jost, sans-serif;
}

.max {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.mdLogo {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: auto;
    margin: -2.7rem;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    box-shadow: -7px -7px 7px #A3D5E0, 3px 7px 7px #A3D5E0;
    border-radius: 3rem;
    /* min-width: 600px; */
    width: 90%;
    align-items: center;
    font-family: jost, sans-serif;


}

.container h1{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-align: center;
    margin-bottom: 4rem;
    font-family: jost, sans-serif;
    font-size: 1.3rem;

}

.textField {
    margin-bottom: 4rem;
    font-family: jost, sans-serif;
  }

  .trackButton{
    width: fit-content;
    font-family: jost, sans-serif;
    cursor: pointer;
    transition: all 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .trackButton:hover{
scale: 0.96;
  }