.searchBoxContainer {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 0.5rem 2rem;
    width: 95%;
    margin: 1rem auto;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease; /* smooth resizing */
    position: sticky;
    top: 0;
    left: 0;
}

.searchBoxSubContainer {
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: white;
    width: 100vw;
    margin: auto;
    max-width: 1000px;
    margin-right: 30px;

}

.nonDialogInputField{
max-width: 900px;
}

.searchIcon {
    margin-left:-10px;
    margin-right: 10px;
    width: 1.5rem;
    height: auto;
    transform: translateY(10%);
}

.searchIcon img {
    width: 1.5rem;
    height: auto;
}


.inputField {
    /* color: #4c4c4c; */
    background-color: white;
    outline: none;
    border: none;
    flex: 1;
    /* height: 4.625rem; */
    padding: 0.5rem;
    /* padding-left: 20px; */
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.43531rem;
    letter-spacing: 0.133rem;
    font-family: 'Jost';
}

.inputField::placeholder {
    color: #636363;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.43531rem;
    letter-spacing: 0.133rem;
    font-family: 'Jost';
}

@media screen and (min-width: 700px) {
    .inputField {
        padding: 0rem;
    }
    .searchBoxSubContainer{
        padding: 1rem;
    }
}



@media screen and (max-width: 350px) {
    .inputField::placeholder {
        font-size: 1rem;
    }
    .searchIcon {
        margin-left: 5px;
        margin-right: 10px;
        width: 1rem;
        height: auto;
    }

    .searchIcon img {
        width: 1rem;
        height: auto;
    }
}

.predictionsoff {
    display: none;
}

.predictionson {
    display: auto;
}

@keyframes heightRaise {
    0% {
        scale: 0.3;
    }

    100% {
        height: 1;
    }
}

.unexpandedWhite {
    width: 100%;
    height: auto;
    /* transition: all 0.3s ease; */
}

.expandWhite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: white;
    overflow: hidden;
    /* padding-top: 10px; */
    z-index: 99;
    animation: heightRaise 0.3s ease;
}


.predContainer {
    width: 90%;
    margin: auto;
    /* background-color: #eaeaea; */
    border-radius: 0.6rem;
    margin-top: 0px;
    padding-bottom: 2rem;
}

.predContainer::-webkit-scrollbar {
    display: none;
}



.minisearch {
    margin-right: 22px;
    display: flex;
    align-items: center;

}

.pred {
    color: black;
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
    /* border: 1px solid black; */
    align-items: center;

}

.pred h2 {
    color: black;
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
    /* border: 1px solid black; */
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem;
    align-self: center;
}

.pred:hover {
    background-color: rgba(128, 128, 128, 0.1);
    /* Gray with 50% opacity */
    border-radius: 0.5rem;
    /* Adjust the border radius */
}



.hideclose {
    display: none;
}

.showclose {
    display: flex;
    align-items: center;
    /* display: inline; */
    margin: 10px;
    z-index: 400;
    margin-bottom: -20px;
}

.showHeading {
    margin-left: 30px;
    font-size: 1rem;
    transform: translateY(-5%);
}

.new {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 700px) {
    .inputField{
        padding: 0rem;
    }
    .searchBoxSubContainer{
        padding: 0.6rem 1rem;
    }
    .searchBoxContainer{
        padding: 0 1rem;
    }
    .searchIcon {
        width: 1rem;
        height: auto;
    }

    .searchIcon img {
        width: 1rem;
        height: auto;
    }

}



@media screen and (min-width: 1300px) {
    .suggestionBox{
        padding-left: 3rem;
    }
    .searchheader{
        margin-left: 4rem;
    }
}

