.main{
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  padding: 1rem;
}

.card {
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: fit-content;

}



.cardImage{
  width: 40%;
  height: auto;
  margin: 0;
}


.imageSlider {
  width: 100%;
  height: 100%;
}

.imageSlider img {
  width: 100%;
  height: auto;
  object-fit: contain; 
}


.cardImage img {
  width: 100%; 
  object-fit: contain;
  display: block;
}

.cardContent {
  padding:0 0rem 2rem 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: normal;
  white-space: normal;
  word-break: keep-all;
}



.cardBenefits {
  list-style: none;
  margin-bottom: 2rem;
  font-size: 1rem;
  padding-left: 0;
}

.cardBenefits li {
  margin: 0rem 0;
  position: relative;
  padding-left: 0.5rem;
}

.joinButton {
  display: inline-flex;
  align-items: center;
  background-color: #217ba5;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 0 auto;
}

.joinButton:hover {
  background-color: #18688d;
}

.waIcon {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}




@media (width < 600px){
  .cardTitle{
    font-size: 1rem;
  }
}


@media (width < 400px){
  .cardTitle{
    font-size: 0.8rem;
  }
  .waIcon {
    width: 30px;
    height: auto;
    margin-right: 0.5rem;
  }
  .cardImage{
    width: 30%;
  }
  
  
}

@media (width > 1000px){
  .waIcon{
    margin-right: 1rem;
  }
}