/* heroSection.module.css */
.logoDiv {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.logoDiv img {
    width: 10rem;
    height: auto;
}
.heroSection {
    position: relative;
  width: 100%;
  overflow: hidden; 
}
.carouseldiv {
    /* width: 90vw;                     make it a percentage of the viewport */
  max-width: 1600px;               /* optional hard cap */
  margin: 0 auto;                  /* center */
  overflow: hidden;                /* hide any edge-overflow if you’re doing a “full-bleed” look */
  position: relative; 
}
.carouseldiv img {
    width: 100%;       /* makes each image fill its slide container */
  height: 400px;     /* fixed height, or use auto */
  object-fit: cover; /* crop/scale to fill without distortion */
  display: block;    /* remove inline whitespace */
}

@media (min-width: 800px) {
    .logoDiv img {
        width: 12rem;
    }

}
@media (max-width: 600px) {
    .logoImg {
        width: 200px;
        height: auto;
    }
    .carouseldiv img {
        width: 10%; 
        height: auto;
        display: block; /* Prevent extra gaps below images */
    }
}

@media (min-width: 1000px) {
    .carouseldiv {
        margin: auto 15rem;
    }

}
