/* heroSection.module.css */
.logoDiv {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.logoDiv img {
    width: 10rem;
    height: auto;
}

.carouseldiv {
    margin: auto 1rem;
    /* padding-bottom: 2; */
    /* margin-bottom: 20px; */
    overflow: hidden;

    /* border-radius: 0 0  50px 50px;  */
    
}
.carouseldiv img {
    width: 100%; 
    height: auto;
    display: block; /* Prevent extra gaps below images */
}

@media (min-width: 800px) {
    .logoDiv img {
        width: 12rem;
    }

}
@media (max-width: 600px) {
    .logoImg {
        width: 200px;
        height: auto;
    }
    
}

@media (min-width: 1000px) {
    .carouseldiv {
        margin: auto 15rem;
    }

}
